.bg-con{
/*     background-image:url("https://e7.pngegg.com/pngimages/736/269/png-clipart-food-background-food-fruit-thumbnail.png"); */
    background-image:url("https://img.freepik.com/premium-photo/big-set-organic-food-fresh-raw-vegetables_220925-4521.jpg");
    background-size:cover;
    height:100vh;
    overflow-y:auto;
}
.main-head{
    animation:10 2;
}
.home-img{
    width:400px;
    height:300px;
    border-radius:10px;
}
